<%= form_for([@car, @booking]) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="container">
      <div class="row">
        <div class='col-sm-6'>
          <%= form.label :start_time %><br>
          <input type='text' class="form-control" id='start_time' />
        </div>
        <script type="text/javascript">
            $(function () {
                $('#start_time').datetimepicker();
            });
        </script>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class='col-sm-6'>
          <%= form.label :end_time %><br>
          <input type='text' class="form-control" id='end_time' />
        </div>
        <script type="text/javascript">
            $(function () {
                $('#end_time').datetimepicker();
            });
        </script>
      </div>
    </div>

    <div class="field">
      <%= form.label :email_id %><br>
      <%= form.text_field :email_id %>
    </div>

    <div class="field">
      <%= form.label :phone %><br>
      <%= form.text_field :phone %>
    </div>
    <div class="field">
      <%= form.label :place %><br>
      <%= form.select :place, options_for_select(['New York, 55 East 52nd Street', 'Seattle, 2201 Westlake Avenue']),:prompt => 'Select One' %>
    </div>
    <%= form.hidden_field :car_id, :value => params[:car_id]%>
    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>