<p id="notice"><%= notice %></p>
<div class="row">
  <div class="center jumbotron">
    <h1>Listing Cars</h1>
  </div>
</div>

<table class="table">
  <thead>

  <div class="row">
    <div class="col-md-offset-10">
      <% if current_user.user_type.in?([0, 1]) %>
          <%= link_to 'New Car', new_car_path, :class => "btn btn-primary btn-md"%>
      <% end %>

    </div>

    <div class="col-md-12">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>License Plate</th>
        <th>Manufacturer</th>
        <th>Style</th>
        <th>Price</th>
        <th></th>
        <th colspan="3" align="center">Actions</th>
      </tr>

  <tbody>

  <% @cars.each do |car| %>
      <td><%= car.name %></td>
      <td><%= car.description %></td>
      <td><%= car.license_number %></td>
      <td><%= car.manufacturer %></td>
      <td><%= car.style %></td>
      <td><%= car.price %></td>
      <td><%# type(car.status) %></td>
        <% if current_user.user_type.in?([0, 1]) %>
          <td><%= link_to 'Edit car', edit_car_path(car) %></td>
          <td><%= link_to 'Delete car', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%# link_to 'Show History', edit_car_path(car) %></td>
        <% else %>
            <td><%= link_to 'Book', new_booking_path(car) %></td>
        <% end %>
      </tr>
  <% end %>

  </tbody>
</table>

<br>

<br><br>
<%= link_to 'Back to home page', current_user , {:style=>'color:green;', :class => "css_class"}%>


</div>
</div>